{% extends 'base.html' %}
{% load i18n %}

{% block container %}
<style>
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
</style>
    <div class="content">
		{% if user.is_authenticated %}
		<h2><center>{% trans 'You are already logged in. Please logout to login as a different user.' %}</h2>
		{% else %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans "Oops! Something went wrong." %}</strong> {% trans "Please check the username and/or password" %}</p>
            </div>
        {% endif %}
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form action="{% url 'django.contrib.auth.views.login' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
			<fieldset>
				<h2>{% trans 'Sign In' %}</h2>
				<hr class="colorgraph">
				{% for field in form %}
					{% include 'registration/form_field.html' %}
				{% endfor %}
				<span class="button-checkbox">
					<button type="button" class="btn" data-color="info">{% trans 'Remember Me' %}</button>
					<input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
					<a href="{% url 'django.contrib.auth.views.password_reset' %}" class="btn btn-link pull-right">{% trans 'Forgot Password?' %}</a>
				</span>
				<hr class="colorgraph">
				<div class="form-group">
					<div class="col-xs-6 col-sm-6 col-md-12">
						<input type="submit" class="btn btn-lg btn-success btn-block">
					</div>
				</div>
			</fieldset>
        </form>
		</div>
		{% endif %}
    </div>
{% endblock %}